<div class="text-center">
  <h1>Themeの編集</h1>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@theme) do |f| %>
      
      <div class="form-group">
        <%= f.label :name, 'Theme名 (20字以内)' %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :introduction, '背景' %>
        <%= f.text_area :introduction, class: 'form-control', rows: 20 %>
      </div>
      
      <div class="form-group">
        <%= f.label :objective, '目的' %>
        <%= f.text_area :objective, class: 'form-control', rows: 5 %>
      </div>
      
      <div class="form-group">
        <%= f.label :reference, '参考文献(空欄可)' %>
        <%= f.text_area :reference, class: 'form-control', rows: 3 %>
      </div>
        
      <%= f.submit '編集内容を更新', class: 'btn btn-info btn-block' %>
    <% end %>
  </div>
</div>